* {
  text-decoration: none;
  list-style: none; }

body {
  font-size: 10px; }

/* ------------- mapa */
/* ------------- extend */
footer, .contenedor-listas {
  display: flex;
  flex-direction: column; }

/* ---------- mixin */
.tipografia {
  font-family: 'Teko', sans-serif; }

.alturaLogo {
  font-size: 3rem;
  letter-spacing: .3rem; }

.altura {
  font-size: 1rem; }

.c-fondo {
  background-color: #245a5c; }

.c-letra {
  color: black; }

.cLetra {
  color: white; }

.carousel {
  background-color: black; }

.imagenesNosotros {
  height: 90vh;
  width: 50vw;
  object-fit: cover; }

.iframe {
  height: 40vh; }

footer {
  background-color: black;
  color: black;
  justify-content: space-evenly; }

.contenedor-listas {
  width: 75%;
  margin: auto;
  justify-content: center;
  align-items: center;
  padding-left: 0; }

.contenedor-listas li {
  font-family: 'Teko', sans-serif;
  letter-spacing: .1rem;
  padding: 1rem;
  font-size: 1rem;
  color: white;
  font-size: 1.3rem; }

.contenedor-iconos {
  display: flex;
  flex-direction: row;
  justify-content: center; }
  .contenedor-iconos a {
    color: white;
    margin: .6rem; }
    .contenedor-iconos a:hover {
      color: rgba(61, 61, 61, 0.844);
      transition: all 0.5s; }

.alturaFoto {
  width: 15rem;
  height: 40rem;
  object-fit: contain;
  margin: auto; }

@media only screen and (min-width: 992px) {
  .contenedor-listas {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
  .contenedor-iconos {
    display: flex;
    flex-direction: row;
    align-items: center; } }

.contenedorProds {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  margin: 2rem 4rem; }

.containderPrecioModelo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #111111bd;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity .6s .9s;
  --transform: translateY(-100vh);
  --transition: transform .8s; }

.modal--show {
  opacity: 1;
  pointer-events: unset;
  transition: opacity .6s;
  --transform: translateY(0);
  --transition: transform .8s .8s; }

.modal__container {
  margin: auto;
  width: 90%;
  max-width: 600px;
  max-height: 90%;
  background-color: #fff;
  border-radius: 6px;
  padding: 3em 2.5em;
  display: grid;
  gap: 1em;
  place-items: center;
  grid-auto-columns: 100%;
  transform: var(--transform);
  transition: var(--transition); }

.modal__close {
  text-decoration: none;
  color: #fff;
  background-color: #F26250;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s; }

.modal__close {
  text-decoration: none;
  color: #fff;
  background-color: #F26250;
  padding: 1em 3em;
  border: 1px solid;
  border-radius: 6px;
  display: inline-block;
  font-weight: 300;
  transition: background-color .3s; }

.productoEnCarrito {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.carritoModelo {
  display: flex;
  flex-direction: row;
  justify-content: space-around; }

.carritoModelo p {
  margin: .6rem; }

.botonEliminar {
  display: flex;
  justify-content: center;
  align-items: center; }
