*{
    text-decoration: none;
    list-style: none;
    font-size: 10px;
}
body{
    
}
/* --------------- HEADER */
.tipografia{
    font-family: 'Teko', sans-serif;
}
.alturaLogo{
    font-size: 3rem;
    letter-spacing: .1rem;
}
.altura{
    font-size: 1.8rem;
}

/* --------------- MAIN INDEX */
.c-fondo{
  background-color: #245a5c;
}
.c-letra{
  color: rgb(0, 0, 0);
}
.cLetra{
  color: rgb(255, 255, 255);
}
.carousel{
  background-color: black;
}
/* --------------- MAIN NOSOTROS */
.imagenesNosotros{
  height: 90vh;
  width: 50vw;
  object-fit: cover;
}
/* --------------- MAIN CONTACTO */
.iframe{
  height: 40vh;
}
/* --------------- FOTER */

footer {
    background-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contenedor-listas {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;

  }
  footer li {
    font-family: 'Teko', sans-serif;
    letter-spacing: .1rem;
    padding: 1rem;
    font-size: 1rem;
    color: rgb(255, 255, 255);
  }
  .contenedor-iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contenedor-iconos a{
      color: white;
      margin: .6rem;
  }
  footer div a:hover {
    color: rgba(61, 61, 61, 0.844);
    transition: all 0.5s;
  }

@media only screen and (min-width: 992px){
  .contenedor-listas{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
  .contenedor-iconos{
        display: flex;
    flex-direction: row;
    align-items: center;
  }
}