footer {
  background-color: map-get($colores, segundoColor);
  color: map-get($colores, segundoColor);
  @extend %flex;
  justify-content: space-evenly;
}
.contenedor-listas {
  width: 75%;
  margin: auto;
  @extend %flex;
  justify-content: center;
  align-items: center;
  padding-left: 0;
}
  .contenedor-listas li {
  font-family: 'Teko', sans-serif;
  letter-spacing: .1rem;
  padding: 1rem;
  @include alturaLetra (1rem);
  color: map-get($colores, tercerColor);
}
.contenedor-iconos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  a{
    color: map-get($colores, tercerColor);
    margin: .6rem;
    &:hover {
      color: rgba(61, 61, 61, 0.844);
      transition: all 0.5s;
    }
  }   
}

