footer {
    background-color: $colorSecundario;
    color: $colorSecundario;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .contenedor-listas {
    width: 75%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 0;

  }
  footer li {
    font-family: 'Teko', sans-serif;
    letter-spacing: .1rem;
    padding: 1rem;
    font-size: 1rem;
    color: $colorTerciario;
  }
  .contenedor-iconos {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .contenedor-iconos a{
      color: $colorTerciario;
      margin: .6rem;
  }
  footer div a:hover {
    color: rgba(61, 61, 61, 0.844);
    transition: all 0.5s;
  }