.c-fondo{
    background-color: map-get($colores, primerColor);
  }
  .c-letra{
    color: map-get($colores, segundoColor);
  }
  .cLetra{
    color: map-get($colores, tercerColor);
  }
  .carousel{
    background-color: map-get($colores, segundoColor);
  }
